## SQLAlchemy ORM Tutorial 
https://www.youtube.com/playlist?list=PL4iRawDSyRvVd1V7A45YtAGzDk6ljVPm1

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import or_

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:12345@localhost/alchemy', echo=True)

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
Base = declarative_base()

In [ ]:
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key=True)
    name = Column(String(60))
    age = Column(Integer)
    grade = Column(String(50))


Base.metadata.create_all(engine)

In [ ]:
student1 = Student(name="Luan", age=10, grade="First")
student2 = Student(name="Michelle", age=30, grade="Third")
student3 = Student(name="Sabrina", age=18, grade="Second")
student4 = Student(name="Jerin", age=27, grade="Fifth")

student5 = Student(name="Thales", age=24, grade="Fourth")
student6 = Student(name="Jasmin", age=21, grade="Third")

session.add(student1)
session.add(student2)
session.add(student3)
session.add(student4)

session.add_all([student5, student6])

session.commit()

In [ ]:
# GET ALL DATA

students = session.query(Student)

for student in students:
    print(student.name, student.age, student.grade)

In [ ]:
# GET DATA IN ORDER

students = session.query(Student).order_by(Student.name)

for student in students:
    print(student.name, student.age, student.grade)

In [ ]:
# GET DATA BY FILTERING

student = session.query(Student).filter(Student.name=="Luan").first()

print(student.name, student.age)

In [ ]:
students = session.query(Student).filter(or_(Student.name=="Luan", Student.name=="Michelle"))

for student in students:
    print(student.name, student.age)

**-> If we use the echo parameter as True in the engine, we will see it in the output of the
terminal the SQL code we would use to do the same query without the ORM:**

SELECT student.id AS student_id, student.name AS student_name, student.age AS student_age, student.grade AS student_grade
FROM student
WHERE student.name = %(name_1)s
  LIMIT %(param_1)s
2021-06-18 07:41:37,667 INFO sqlalchemy.engine.Engine [generated in 0.00015s] {'name_1': 'Luan', 'param_1': 1}
Luan 10

In [ ]:
# COUNT THE NUMBER OF RESULTS

student_count = session.query(Student).filter(or_(Student.name=="Luan", Student.name=="Michelle")).count()
print(student_count)

In [ ]:
# UPDATE DATA
student = session.query(Student).filter(Student.name=='Jerin').first()
student.name = "Kevin"

session.commit()

In [ ]:
# CHEKING UPDATE
student = session.query(Student).filter(Student.name=='Kevin').first()
print(student.name)

In [ ]:
# DELETE DATA
student7 = Student(name="Jerin", age=27, grade="Fifth")

session.add(student7)
session.commit()

In [ ]:
# CHECKING EXCLUSION 
student = session.query(Student).filter(Student.name=='Jerin').first()

session.delete(student)
session.commit()